<!-- La navegación en pantallas pequeñas -->
<!-- <nav class="unslate_co--site-mobile-menu">
    <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
            <span class="close-label">Close</span>
            <div class="close-times">
                <span class="bar1"></span>
                <span class="bar2"></span>
            </div>
        </a>
    </div>
    <div class="site-mobile-inner"></div>
</nav> -->

<div class="header">
    <!-- Header/navegación -->
    <nav class="header__nav">
        <!-- Logo -->
        <div class="header__logo-box">
            <a routerLink="home" class="header__logo">Oih</a>
        </div>

        <!-- Navigation -->
        <div class="navigation">
            <!-- TODO: Poner la lista en display none en pequeño -->
            <ul class="navigation__list js-clone-nav">
                <li class="navigation__item">
                    <a routerLink="work" class="navigation__link">Work</a>
                </li>
                <li class="navigation__item">
                    <a routerLink="about" class="navigation__link">About</a>
                </li>
                <li class="navigation__item">
                    <a routerLink="contact" class="navigation__link">Contact</a>
                </li>
            </ul>

            <!-- TODO: Reescribir estilos para pantallas pequeñas -->
            <!-- Para pantallas pequeñas: -->
            <!-- <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
            </ul> -->
        </div>
    </nav>
</div>