<section class="about">
    <div class="row heading-primary about__heading">
        <div class="col heading-primary--main">Info</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="about__text">
                    <p>
                        <!-- TODO: Añadir link a Las Gardenias -->
                        Hola, soy Oihane. Los últimos 10 años he formado parte como diseñadora gráfica en el colectivo Las Gardenias, participando sobre todo en proyectos expositivos para clientes como l'Ajuntament de Barcelona, El Born CCM o fundació "la Caixa".
                    </p>
                    <p class="about__text-indent">
                        He podido abordar diferentes campos como el diseño gráfico aplicado a espacios, la identidad visual, el diseño editorial, la ilustración o el diseño web.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-2 offset-2">
            <div class="row rrss">
                <ul>
                    <li class="rrss__item"><a href="https://www.instagram.com/oih/" target="_blank">Instagram ↗</a></li>
                    <li class="rrss__item"><a href="https://www.behance.net/oih" target="_blank">Behance ↗</a></li>
                    <li class="rrss__item"><a href="https://www.linkedin.com/in/oihane-chourraut-yurramendi" target="_blank">Linkedin ↗</a></li>
                    <li class="rrss__item"><a href="https://github.com/oihoihoih" target="_blank">Github ↗</a></li>
                </ul>

            </div>
        </div>
    </div>

    <!-- TODO: Añadir lista de mi última música -->
</section>