    .home {
        transform: translateY(-5rem);
        &__title {
            font-weight: 700;
            font-size: 15rem;
            line-height: 13rem;
            letter-spacing: -5px;
            text-transform: uppercase;
            &:hover {
                animation: glitch 1s linear infinite;
                &::before,
                &::after {
                    content: attr(title);
                    position: absolute;
                    left: 0;
                }
                &::before {
                    animation: glitchTop 1s linear infinite;
                    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
                }
                &::after {
                    animation: glitchBotom 1.5s linear infinite;
                    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                }
            }
        }
    }