.single {
    &-container {
        padding: 5rem;
    }
    &__header {
        margin-top: 12rem;
        margin-bottom: 8rem;
        &--heading {
            font-size: 8rem;
            font-weight: 400;
            line-height: 1.2;
        }
        &--text {
            padding-top: 4rem;
            font-size: 2rem;
            font-weight: 400;
        }
    }
    &__body {
        width: 100%;
        margin-top: 4rem;
        border-top: 1px solid $darkColor;
        &--schema {
            padding: 2rem 0;
            font-size: 2.4rem;
            font-weight: 400;
            text-transform: uppercase;
            border-bottom: 1px solid $darkColor;
        }
        &--image {
            margin-top: 1rem;
            max-width: 100%;
            height: auto;
        }
    }
    &__footer {
        position: fixed;
        bottom: 4rem;
        right: 6rem;
        &--button {
            width: 8rem;
            height: 8rem;
            padding: 1.5rem;
            background-color: white;
            color: $darkColor;
            border: none;
            border-radius: 50%;
            opacity: 0.5;
            transition: opacity 300ms ease-in;
            &:hover {
                background-color: $darkColor;
                color: white;
                opacity: 1;
            }
        }
    }
}