<div class="section container-fluid d-flex justify-content-center align-items-center">
    <!-- TODO: Aumentar el espacio del canvas para que no se corten las palabras -->
    <!-- TODO: Poner las palabras en dos líneas -->
    <div class="home" (mouseover)="changeText = true" (mouseout)="changeText = false">
        <h1 id="graph" class="home__title" [class.d-none]="!changeText">
            <span title="Graphic designer"></span>
        </h1>
        <h1 id="web" class="home__title d-none" [class.d-none]="changeText">
            <span class="web" title="Frontend developer"></span>
        </h1>
    </div>
</div>