<section class="single-container">
    <div class="single__header row">
        <h1 class="single__header--heading col-6"> {{ singleWork.name }} </h1>
        <p class="single__header--text col-5 offset-1"> {{ singleWork.text }} </p>
    </div>

    <div class="single__body">
        <div class="single__body--schema row">
            <div class="col-3">
                <span class="little">Tipo de proyecto:</span>
                <p> {{ singleWork.type }} </p>
            </div>

            <div class="col-3">
                <span class="little">Año:</span>
                <p> {{ singleWork.year }} </p>
            </div>
            <div class="col-3">
                <span class="little">Cliente:</span>
                <p> {{ singleWork.client }} </p>
            </div>
            <div class="col-3" *ngIf="singleWork.link">
                <a routerLink="{{ singleWork.link }}" class="col-4"> Ver web </a>
            </div>
        </div>
        <div class="images">
            <div *ngFor="let image of singleWork.images" class="images__single">

                <img class="single__body--image" [src]="image" alt="singleWork.name">
            </div>
        </div>
    </div>

    <div class="single__footer">
        <button (click)="volver()">volver</button>
    </div>
</section>